
@keyframes SearchSelected {
  0%{width: 30vw;}
  100%{width: 40vw;}
}
@keyframes SearchDeSelected {
  0%{width: 40vw;}
  100%{width: 30vw;}
}

*{
  margin: 0;
  /* transition: all 330ms ease-in-out; */
}

.wrapper {
  background: black;
  display: flex;
  flex-direction: column;
}

.main_header {
  min-height: 75vh;
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
}

.header_content_evenlyspaced{
  flex: 1;
  height: 100%;
  position: relative;
  padding-top: 3vh;
  margin-bottom: 7vh;
}

.header_content_evenlyspaced .carousel{
  position: initial;
}


.header_content{
}

.headersectioncontent_leftmost{
}

.header_content{
}

.headersectioncontent_rightmost{
}

.main_section {
  background: white;
}

.mainsection_featured{
  z-index: 0;
  position: relative;
  padding-bottom: 70px;
  padding-top: 50px;
}

.msection_1{
  background: linear-gradient(35deg, #fb6340 0, #fbb140 100%);
  margin-left: 65px;
  margin-right: 65px;
  margin-top: -30px;
  padding-top: 25px;
  border-radius: 20px 20px 0px 0px;
}

.msection_1::after{
  content: "";
  width: 100%;
  height: 70px;
  /* background: linear-gradient(356deg, #ffffff 50%, #ffffff00 50%); */
  background: url("../img/diag_bar.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.msection_2{
  background:white;
}

.msection_3{
  background: #bda6b5;
  padding: 0;
}

.msection_4{
  background: #ffffff;
  padding: 0;
  height: 70vh;
}

.msection_5{
  background: #4b4749;
  padding: 0;
  height: 90vh;
}

.mainfeatured_content{
  overflow-x: auto;
  overflow-y: hidden;
}

.cardHorizontalHolder{
  display: flex;
  overflow: auto;

}

.mainfeatured_content .card{
  margin: 3vh;
  max-width: 16rem;
  flex: none;
}


.feat_aboutcards_gp .card {
  margin: 6vw;
}







.main_footer {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.footer_content {
  flex: auto;
}

.footer_end {
  height: 10vh;
  background: aqua;
  display: flex;
}

.footer_end *{
  margin: auto;
}




/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/


a.carousel-control-prev {
  width: 10%;
}

.carousel-inner {
  width: 80%;
  left: 10%;
}




